#label {
    text-align: left
}

#dvdReleaseYear {
    border: none;
    background-color: transparent;
    box-shadow: none;
}

#dvdDirector {
    border: none;
    background-color: transparent;
    box-shadow: none;
}

#dvdNotes {
    border: none;
    background-color: transparent;
    box-shadow: none;
}

#dvdRating {
    border: none;
    background-color: transparent;
    box-shadow: none;
}