@model TipCalculator.Models.TipCalculation

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div>
        <div class="container">
            <div class="col-xs-12">
                <h1>Welcome to our Tip Calculator!</h1>
                @using (Html.BeginForm("Index", "Home", FormMethod.Post))
                {
                    <div class="form-group">
                        @Html.LabelFor(m=>m.Total)
                        @Html.TextBoxFor(m => m.Total, new { @class = "form-control" , placeholder = "0.00"})
                    </div>
                    <button class="btn btn-primary">Calculate</button> 
                }
            </div>
        </div>
    </div>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>
